main .benefits::before {
  top: 60px;
  content: "[Преимущества]";
}

main .benefits::after{
  top: 0;
}

.benefits {
  position: relative;
  margin-top: 74px;
  padding: 245px 0;
}

.benefits .container {
  display: grid;
}

.benefits .benefits__title {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #fff;
  font-family: "Pobeda Bold", sans-serif;
  font-size: 124px;
}

.benefits .benefits__title span{
  display: block;
}

.benefits .benefits__title-small {
  font-size: 72px;
}

.benefits .benefits__title-yellow {
  color: #ecc06a;
}

.benefits .benefits__button-wrapper {
  grid-column: 1/2;
  grid-row: 3/4;
}

.benefits .benefits__slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 59%;
  padding: 245px 5.9% 242px;
  background-color: #131313;
  overflow: hidden;
  z-index: 100;
}

.benefits .benefits__slider-target {
  width: 100%;
  overflow: hidden;
}

.benefits .benefits__slider-wrapper {
  display: flex;
  gap: 36px;
}

.benefits .benefits__slider-slide {
  position: relative;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  padding: 70px 32px;

  border-radius: 12px;
  border: 5px solid transparent;
  border-radius: 12px;
  color: #fff;
  background: linear-gradient(to right, rgb(30, 30, 30), rgb(35, 35, 35), rgb(38, 38, 38))
      padding-box,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0)) border-box;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.benefits .benefits__slider-slide .slide__title {
  margin-top: 36px;
  color: #ecc06a;
  font-family: "Pobeda Bold", sans-serif;
  font-size: 36px;
  line-height: 120%;
}

.benefits .benefits__slider-slide .slide__descr {
  margin-top: 14px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.benefits__slide-img__dec {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .benefits .benefits__slider {
    top: 50%;
    transform: translateY(-50%);
    width: 52%;
    padding: 130px 50px;
  }
}

@media (max-width: 991px) {
  .benefits {
    padding: 145px 0 0 0;
  }
  .benefits .container {
    display: grid;
    align-items: center;
  }
  .benefits .benefits__title {
    font-size: 54px;
    display: grid;
    grid-template-columns: max-content auto;
    grid-row: 1/2;
  }
  .benefits .benefits__title-small {
    font-size: 36px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .benefits .benefits__title-yellow {
    font-size: 96px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .benefits .benefits__title-normal {
    display: flex;
    align-items: end;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 10px;
  }
  .benefits .benefits__button-wrapper {
    margin-top: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .benefits .benefits__slider {
    position: static;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: transparent;
    width: 100%;
    margin-top: 36px;
    padding: 0;
    transform: translate(0);
  }
  .benefits .benefits__slider .benefits__slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 12px;
  }
  .benefits .benefits__slider .benefits__slider-slide {
    width: 100%;
  }
  .benefits .benefits__slider .slide__title {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .benefits .container {
    grid-template-columns: 1fr;
  }
  .benefits .benefits__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .benefits .benefits__title-small {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 27px;
    height: max-content;
    margin-top: 5px;
  }
  .benefits .benefits__title-yellow {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .benefits .benefits__title-normal {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .benefits .benefits__button-wrapper {
    margin-top: 12px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .benefits .benefits__slider {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 20px;
  }
  .benefits .benefits__slider .benefits__slider-wrapper {
    grid-template-columns: 1fr;
  }
  .benefits .benefits__slider .benefits__slider-slide {
    display: grid;
    grid-template-columns: 52px auto;
    column-gap: 12px;
    align-items: center;
    height: 202px;
    padding: 24px;
  }
  .benefits .benefits__slider .slide__img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 52px;
  }
  .benefits .benefits__slider .slide__img img {
    width: 100%;
  }
  .benefits .benefits__slider .slide__title {
    font-size: 27px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0;
  }
  .benefits .benefits__slider .slide__descr {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
