

.header .container{
  padding: 0 6.3% 0 8.7%;
  max-width: unset;
}

.header .container, .footer .footer__body{
  display: flex;
  align-items: center;
  gap: 54px;
  margin-top: 24px;

}



.header .header__nav, .footer .footer__nav{
  display: flex;
  flex: 1 0 auto;
}

.header .header__nav .list, .footer .footer__nav .list{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 540px;
  width: 100%;
  margin-left: auto;
}

.header .header__nav .link, .footer .footer__nav .link{
  color: #fff;

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  transition: all .2s;
}

.header .header__nav .link:hover, .footer .footer__nav .link:hover{
  opacity: .5;
  transition: all .2s;
}

.header .header__button .button__tg, .footer .footer__button .button__tg{
  position: relative;
  width: 200px;
  height: 46px;
  background-color: #29B6F6;

  box-shadow: 0 12px 36px rgba(41, 182, 246, 0.45);
  filter: drop-shadow(0 2px 0 #0785BE);

  border-radius: 4px;
  border: none;

  color: #fff;
  font-family: 'Pobeda Bold', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
}

.header .header__button .button__tg:hover, .footer .footer__button .button__tg:hover{
  box-shadow: 0 12px 40px rgba(41, 182, 246, 0.45);
}

.header .header__button .button__tg span, .footer .footer__button .button__tg span{
  padding-right: 24px;
  position: relative;
}

.header .header__button .button__tg span::after, .footer .footer__button .button__tg span::after{
  content: '';
  position: absolute;
  top: -6px;
  right: 8px;
  width: 1px;
  height: 32px;
  background-color: #fff;
  opacity: .4;
}

.header .header__button, .footer  .footer__button{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header .header__button .button__tg img, .footer .footer__button .button__tg img{
  margin-bottom: -3px;
}

.header .header__lang, .footer .footer__lang{
  display: flex;
  gap: 21px;
}

.header .header__lang .lang, .footer .footer__lang .lang{
  color: #fff;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  transition: all .2s;
}

.header .header__lang .active, .footer .footer__lang .active{
  color: rgba(255, 255, 255, .5);
  transition: all .2s;
}

.header .header__lang .lang:hover, .footer .footer__lang .lang:hover{
  color: #fff;
  transition: all .2s;
}



@media (max-width: 991px) {
  .header .container, .footer .footer__body{
    gap: 24px;
  }
  .header .logo .logo__wrapper img, .footer .logo  img{
    width: 100%;
  }
  .header .header__nav .list, .footer .footer__nav .list{
    max-width: 313px;
  }
  .header .header__button .button__tg, .footer .footer__button .button__tg{
    width: 156px;
    height: 48px;
    font-size: 18px;
  }
  .header .header__button .button__tg span, .footer .footer__button .button__tg span{
    padding-right: 16px;
  }
  .header .header__button .button__tg span::after, footer .footer__button .button__tg span::after{
    height: 24px;
    right: 6px;
  }
  .header .header__lang .lang, .footer .footer__lang .lang{
    font-size: 14px;
  }
}


@media (max-width: 767px) {
  .header .logo{
    width: 54px !important;
  }
  .header .logo .logo__wrapper, .footer .logo{
    width: 54px ;
    height: 54px;
  }
  .header .header__nav .list, .footer .footer__nav .list{
    flex-wrap: wrap;
  }
  .header .header__button .button__tg, .footer .footer__button .button__tg{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
  }
  .header .header__button .button__tg span, .footer .footer__button .button__tg span{
    display: none;
  }
  .header .header__lang .lang.active, .footer .footer__lang .lang.active{
    display: none;
  }
  .header .header__button, .footer .footer__button{
    flex-direction: row-reverse;
    align-items: end;
  }
  .lang{
    opacity: .5;
  }
}

@media (max-width: 500px) {
  .header .header__nav, .footer .footer__nav{
    display: block;
    flex: unset;
  }
  .footer__body{
    justify-content: space-between;
  }
}