.products::before{
  top: -37px;
  content: '[Продукты]';
}

.products::after{
  top: -116px;
}

.products__tab {
  position: relative;
  width: 750px;
  height: 750px;
  margin-top: 246px;
  background: linear-gradient(rgba(30, 30, 30, 1), rgba(35, 35, 35, 1), rgba(38, 38, 38, 1))
      padding-box,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0)) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #fff;
}

.products__tab::after,
.products__tab::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 569px;
  height: 569px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.products__tab::before {
  width: 435px;
  height: 435px;
  background-color: #fff;
  border: none;
  opacity: 0.03;
}

.products__tab .list .item .item__top {
  position: absolute;
  top: 10px;
  z-index: 10;
}

.products__tab .list .item .item__top {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.products__tab .item__top .item__title {
  padding-left: 24px;
  font-family: "Pobeda Bold", sans-serif;
  font-size: 36px;
  transition: all .5s;
}

.products__tab .item__top .item__title:hover{
  color: #ECC06A;
  transition: all .5s;
}

.products__tab .item__top .item__title .title__wrapper{
  display: inline-block;
  height: 36px;
  position: relative;
  padding: 0 3px;
  line-height: 110%;
  z-index: 10;
}

.products__tab .item__top.active .item__title {
  color: #000;
  transition: all .5s;
}

.products__tab .item__top .item__title .title__anim {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 0;
  padding: 0;
  background-color: #fff;
  transition: all .5s;
  z-index: -1;
}

.products__tab .item__top.active .item__title .title__anim{
  width: 100%;
  transition: all .5s;
}

.products__tab .list .item:nth-child(1) .item__top {
  top: 47px;
  left: 284px;
  width: 370px;
}

.products__tab .list .item:nth-child(2) .item__top {
  top: 479px;
  left: 18px;
  right: 468px;
}
.products__tab .list .item:nth-child(3) .item__top {
  top: 530px;
  left: 532px;
  width: 263px;
}

.products__tab .list .item .item__body {
  position: absolute;
  opacity: 0;
  left: calc(100% + 98px);
  top: 18%;
  width: 542px;
  transition: all .5s;
}

.products__tab .list .item .item__body.scroll-item{
  opacity: 0;
}

.products__tab .list .item .item__body.active.scroll-item.animation-class{
  opacity: 1;
}

.products__tab .list .item__body.active {
  opacity: 1;
  transition: all .5s;
}


.products__tab .item__body-title {
  font-family: "Pobeda Bold", sans-serif;
  font-size: 64px;
}

.products__tab .item__body-descr {
  position: relative;
  max-width: 402px;
  margin-left: 130px;
  margin-top: 52px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}

.products__tab .list .item__body-descr::before {
  content: "";
  position: absolute;
  left: -130px;
  top: 10px;
  width: 116px;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.products__tab .item__body-descr a {
  align-items: center;
  color: #29b6f6;
}

.products__tab .item__body-descr span {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 4px;
  background-color: #ed1b34;
  border-radius: 50%;
  margin-left: 5px;
  bottom: -5px;
}

.products__tab .item__body-descr span img {
  width: 100%;
}

.products__tab .tab__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 53px;
  background: linear-gradient(
    to right,
    rgba(246, 213, 138, 1),
    rgba(250, 225, 174, 1),
    rgba(236, 192, 106, 1),
    rgba(236, 192, 106, 1),
    rgba(236, 192, 106, 1)
  );
  border-radius: 50%;
}

@media (max-width: 1400px) {
  .products__tab .list .item .item__body {
    left: calc(100% + 20px);
  }
}



@media (max-width: 1350px) {
  .products__tab .list .item .item__body {
    left: calc(100% + 20px);
  }
  .products__tab {
    width: 550px;
    height: 550px;
  }
  .products__tab::after {
    width: 400px;
    height: 400px;
  }
  .products__tab::before {
    width: 335px;
    height: 335px;
  }
  .products__tab .tab__img {
    padding: 25px;
  }
  .products__tab .list .item:nth-child(1) .item__top {
    top: 5px;
    left: 131px;
  }
  .products__tab .list .item:nth-child(2) .item__top {
    top: 393px;
    left: 18px;
    right: 250px;
  }
  .products__tab .list .item:nth-child(3) .item__top {
    top: 330px;
    left: 370px;
    width: 263px;
  }
  .products__tab .list .item__top .item__title{
    font-size: 30px;
  }
  .products__tab .list .item__body{
    left: 100%;
  }
  .products__tab .list .item__body-title{
    font-size: 54px;
  }
  .products__tab .list .item__body-descr::before{
    width: 80px;
    left: -100px;
  }
}


@media (max-width: 1150px) {
  .products::before{
    top: 146px;
  }
  .products::after{
    top: 129px;
  }
  .products .container{
    padding-top: 330px;
  }
  .products__tab {
    width: 760px;
    margin: 0 auto;
    padding-right: 420px;
    background: transparent;
  }
  .products__tab::after {
    display: none;
  }
  .products__tab::before {
    display: none;
  }
  .products__tab .tab__img{
    display: none;
  }
  .products__tab .list .item:nth-child(1) .item__top {
    top: 5px;
  }
  .products__tab .list .item:nth-child(2) .item__top {
    top: 393px;
    left: 18px;
    right: 250px;
  }
  .products__tab .list .item:nth-child(3) .item__top {
    top: 330px;
    left: 370px;
    width: 263px;
  }
  .products__tab .tab__br{
    display: none;
  }
  .products__tab .list .item:nth-child(1) .item__top .item__title,
  .products__tab .list .item:nth-child(2) .item__top .item__title,
  .products__tab .list .item:nth-child(3) .item__top .item__title{
    max-width: 320px;
    font-size: 27px;
  }
  .products__tab .list .item:nth-child(1) .item__top {
    left: 0;
    right: unset;
  }
  .products__tab .list .item:nth-child(2) .item__top {
    left: 0;
    right: unset;
    top: 110px;
  }
  .products__tab .list .item:nth-child(3) .item__top {
    top: 200px;
    left: 0;
    right: unset;
    width: unset;
  }
  .products__tab .list .item .item__body{
    top: -135px;
    transform: translateY(0);
    left: 150px;
  }
  .products__tab .list .item .item__body .item__body-descr{
    width: 320px;
    font-size: 16px;
    margin-left: 270px;
    margin-top: 30px;
  }
  .products__tab .list .item .item__body .item__body-title{
    text-align: center;
  }
}

@media (max-width: 767px) {
  .products__tab .item__top .item__title .title__anim{
    display: none;
  }
  .products .container{
    padding-top: 60px;
    margin-top: 64px;
  }
  .products .products__tab{
    height: auto;
    padding: 0;
    width: 100%;
  }
  .products .products__tab .item{
    margin-top: 32px;
  }
  .products .products__tab .item .item__top.active span{
    background-color: transparent;
    color: #fff;
  }
  .products .products__tab .item .item__top, .products .products__tab .item .item__body{
    position: static;
  }
  .products .products__tab .list .item .item__top{
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
    transition: unset;
  }
  .products .products__tab .list .item .item__top .item__title{
    color: #fff;
    transition: unset;
  }
  .products .products__tab .item .item__body{
    display: block;
    opacity: 1;
    width: 100%;
    margin-top: 24px;
    text-align: center;
  }
  .products .products__tab .item .item__body-title{
    display: none;
  }
  .products .products__tab .list .item .item__body-descr{
    margin: 0 auto;
  }
  .products .products__tab .item .item__body-descr::before{
    display: none;
  }
}
