
main .teaching::before{
  content: '[training]';
  top: -48px;
}

main .teaching::after{
  top: -111px;
}

.teaching {
  color: #fff;
  
}

.teaching .container{
  width: 87%;
}

.teaching .list {
  display: flex;
  gap: 24px;
}

.teaching .list.scroll-item {
  opacity: 1;
  transform: translate(0);
}

.teaching .item {
  position: relative;
  width: calc(50% - 12px);

  background: linear-gradient(108deg,#131313 68%, #292929, #1E1E1E, #131313)
      padding-box,
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0)) border-box;
  border-radius: 12px;
  border: 1px solid transparent;
  transform: translateY(60px);
  opacity: 0;
  transition: all .6s;
  overflow: hidden;
}

.teaching .item:nth-child(2){
  transition: all .6s .1s;
}


.teaching .item.animation-class:nth-child(2){
  transition: all .6s .2s;
}

.teaching .item__bg {
  position: absolute;
  z-index: 1;
  inset: 2px;
  border-radius: inherit;
  overflow: hidden;
  opacity: .7;
}

.teaching .item.animation-class{
  transform: translate(0);
  opacity: 1;
  transition: all .6s;
}


.teaching  .item__gradient {
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: linear-gradient(108deg,#13131368 68%, #292929, #1e1e1e, #131313);
  z-index: 10;
}

.teaching .item__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 37.8% 7% 14% 7%;
  z-index: 100;
}

.teaching .item__title {
  font-family: "Pobeda Bold", sans-serif;
  font-size: 3.2rem;
  text-align: center;
}

.teaching .item__descr {
  max-width: 708px;
  margin: 0 auto;
  margin-top: 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 160%;
  text-align: center;
}

.teaching .item__button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  scale: 1.2;
  transition: all 1s .6s;
}


.teaching .item.animation-class .item__button{
  scale: 1;
  transition: all 1s .6s;
}

@media (max-width: 1100px) {
  .teaching .list {
    flex-direction: column;
  }
  .teaching .item {
    width: 100%;
    background: linear-gradient(108deg,#131313 68%, #292929, #1e1e1e, #131313);
  }
  .teaching .item__bg{
    overflow: hidden;
    right: 46%;
    bottom: 0;
  }
  .teaching .item__bg lottie-player{
    height: 100%;
  }
  .teaching  .item__gradient{
    display: none;
  }
  .teaching .list .item__body{
    width: 315px;
    margin: 32px 32px 32px 0;
    margin-left: auto;
    padding: 0;
  }
  .teaching .list .item__body .item__title{
    font-size: 3.3rem;
    text-align: left;
  }
  .teaching .list .item__body .item__descr{
    font-size: 1rem;
    text-align: left;
  }
  .teaching .list .item__body .item__button{
    font-size: 1.6rem;
    padding: 24px 48px;
  }
}

@media (max-width: 991px) {
  main .teaching::after{
    top: -90px;
  }
}

@media (max-width: 767px) {
  .teaching{
    margin-top: 60px;
  }
  main .teaching::after{
    top: -70px;
  }
  main .teaching::before{
    top: -40px;
  }
  .teaching .item__bg {
    width: 100%;
    right: unset;
    bottom: unset;
  }
  .teaching .item__bg lottie-player{
    width: 100%;
    transform: translate(0);
  }
  .teaching .list .item__body{
    padding: 126px 24px 32px 24px;
    width: 100%;
    text-align: center;
  }
  .teaching .list .item__body .item__title{
    text-align: center;
    font-size: 2.2rem;
  }
  .teaching .list .item__body .item__descr{
    text-align: center;
    font-size: 1rem;
  }
}
